Repository meltano/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarrmondragon, @cjohnhanson, @meltano/engineering, @meltano/marketing, @tayloramurphy

chore: Enable `G` (flake8-logging-format) Ruff checks
  poetry.lock
  pyproject.toml
  samples/sample_tap_google_analytics/ga_tap_stream.py
  samples/sample_target_csv/csv_target_sink.py
  singer_sdk/helpers/_typing.py
  singer_sdk/mapper.py
  singer_sdk/plugin_base.py
  singer_sdk/sinks/core.py
  singer_sdk/streams/core.py
  singer_sdk/streams/graphql.py
  singer_sdk/streams/rest.py
  singer_sdk/tap_base.py
  singer_sdk/target_base.py
  tests/cookiecutters/test_cookiecutter.py
  tests/core/test_mapper.py
Owners: @edgarrmondragon, @cjohnhanson, @meltano/engineering

chore: Enable `G` (flake8-logging-format) Ruff checks (#1621)
  poetry.lock
  pyproject.toml
  samples/sample_tap_google_analytics/ga_tap_stream.py
  samples/sample_target_csv/csv_target_sink.py
  singer_sdk/helpers/_typing.py
  singer_sdk/mapper.py
  singer_sdk/plugin_base.py
  singer_sdk/sinks/core.py
  singer_sdk/streams/core.py
  singer_sdk/streams/graphql.py
  singer_sdk/streams/rest.py
  singer_sdk/tap_base.py
  singer_sdk/target_base.py
  tests/cookiecutters/test_cookiecutter.py
  tests/core/test_mapper.py
Owners: @edgarrmondragon, @cjohnhanson, @meltano/engineering

refactor: Consolidate config parsing for all plugin base classes (#1610)
  singer_sdk/mapper_base.py
  singer_sdk/plugin_base.py
  singer_sdk/tap_base.py
  singer_sdk/target_base.py
Owners: @edgarrmondragon, @cjohnhanson

feat: Explicitly support URL params in string form
  singer_sdk/streams/rest.py
Owners: @edgarrmondragon, @cjohnhanson

Add missing line break
  singer_sdk/streams/rest.py
Owners: @edgarrmondragon, @cjohnhanson

Update singer_sdk/streams/rest.py
  singer_sdk/streams/rest.py
Owners: @edgarrmondragon, @cjohnhanson

Update singer_sdk/streams/rest.py
  singer_sdk/streams/rest.py
Owners: @edgarrmondragon, @cjohnhanson

Update singer_sdk/streams/rest.py
  singer_sdk/streams/rest.py
Owners: @edgarrmondragon, @cjohnhanson

Reduce temperature of extractions
  singer_sdk/mapper.py
Owners: @edgarrmondragon, @cjohnhanson

Don't emit SCHEMA messages for skipped streams
  samples/sample_mapper/mapper.py
Owners: @edgarrmondragon, @cjohnhanson

Simplified matrix for test.yml
  .github/workflows/test.yml
Owners: @edgarrmondragon, @meltano/engineering

ci: Simplified matrix for test.yml (#1630)
  .github/workflows/test.yml
Owners: @edgarrmondragon, @meltano/engineering

chore: Use PyPI trusted publisher
  .github/workflows/release.yml
Owners: @edgarrmondragon, @meltano/engineering

chore: Use PyPI trusted publisher (#1635)
  .github/workflows/release.yml
Owners: @edgarrmondragon, @meltano/engineering

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# Default owners
* @edgarrmondragon @cjohnhanson

# CI/CD
/.github/workflows/ @edgarrmondragon @meltano/engineering

# Docs (General)
/docs/ @meltano/engineering @meltano/marketing
/README.md @tayloramurphy @meltano/engineering @meltano/marketing

# Docs (Contributing)
/docs/CONTRIBUTING.md @tayloramurphy @meltano/engineering

# Release Ops (see `/.pyproject.toml` for list of bumped files)
/cookiecutter/*/*/pyproject.toml @meltano/engineering
/docs/conf.py @meltano/engineering
/pyproject.toml @meltano/engineering
