Repository meltano/sdk, pull requests merged in 2024-09, with the labels that each got.

#2618 feat: Developers can now more easily override the mapping from SQL column type to JSON schema
  docs/classes/singer_sdk.connectors.sql.SQLToJSONSchema.rst
  docs/conf.py
  docs/guides/index.md
  docs/guides/sql-tap.md
  docs/reference.rst
  singer_sdk/connectors/sql.py
  singer_sdk/typing.py
  tests/core/test_connector_sql.py
  tests/core/test_sql_typing.py
Labels: kind/Feature, SQL, Needs Documentation, Release Highlight

#2664 packaging: Added a constraint on setuptools <= 70.3.0 to fix incompatibility with some dependencies
  poetry.lock
  pyproject.toml
Labels: Dependencies

#2663 fix: Properties dropped using `None` or `__NULL__` in stream maps are now also removed from the schema `required` array
  singer_sdk/mapper.py
  tests/core/test_mapper.py
  tests/snapshots/mapped_stream/aliased_stream.jsonl
  tests/snapshots/mapped_stream/drop_property.jsonl
  tests/snapshots/mapped_stream/drop_property_null_string.jsonl
  tests/snapshots/mapped_stream/flatten_all.jsonl
  tests/snapshots/mapped_stream/flatten_depth_0.jsonl
  tests/snapshots/mapped_stream/flatten_depth_1.jsonl
  tests/snapshots/mapped_stream/keep_all_fields.jsonl
  tests/snapshots/mapped_stream/map_and_flatten.jsonl
  tests/snapshots/mapped_stream/no_map.jsonl
  tests/snapshots/mapped_stream/record_to_column.jsonl
  tests/snapshots/mapped_stream/sourced_stream_1.jsonl
  tests/snapshots/mapped_stream/sourced_stream_1_null_string.jsonl
  tests/snapshots/mapped_stream/sourced_stream_2.jsonl
Labels: Stream Maps

#2665 fix: Mapped datetime values are now typed as `date-time` strings in the schema message
  singer_sdk/mapper.py
Labels: Community-Contributed PR

#2667 feat: Support stream aliasing of `BATCH` messages via stream maps
  singer_sdk/streams/core.py
  singer_sdk/target_base.py
  tests/core/test_mapper.py
  tests/snapshots/mapped_stream/aliased_stream_batch.jsonl
Labels: Community-Contributed PR, BATCH

#2661 refactor(templates): Drop support for Python 3.8 in templates
  cookiecutter/mapper-template/{{cookiecutter.mapper_id}}/.github/workflows/test.yml
  cookiecutter/mapper-template/{{cookiecutter.mapper_id}}/pyproject.toml
  cookiecutter/mapper-template/{{cookiecutter.mapper_id}}/tox.ini
  cookiecutter/mapper-template/{{cookiecutter.mapper_id}}/{{cookiecutter.library_name}}/mapper.py
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/.github/workflows/test.yml
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/tox.ini
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/graphql-client.py
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/other-client.py
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/rest-client.py
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/sql-client.py
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/{{cookiecutter.library_name}}/streams.py
  cookiecutter/target-template/{{cookiecutter.target_id}}/.github/workflows/test.yml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/tox.ini
  samples/sample_tap_dummy_json/pyproject.toml
Labels: Dependencies
