Repository meltano/sdk, pull requests merged in 2025-05, with the labels that each got.

#3009 fix: Fix infinite recursion error when resolving JSON schemas with circular references
  singer_sdk/singerlib/schema.py
  tests/singerlib/test_schema.py
Labels: Type/Tap

#2977 feat(taps): Limit extraction to 25 records by default in builtin tap tests
  singer_sdk/testing/config.py
  singer_sdk/testing/runners.py
Labels: testing, Type/Tap

#3019 fix: Encode `nan`, `inf` and `-inf` values as `null` in Singer stream
  singer_sdk/singerlib/json.py
  tests/singerlib/encoding/test_simple.py
Labels: Type/Tap

#2990 refactor: Replace filesystem library used for BATCH mode
  pyproject.toml
  singer_sdk/contrib/batch_encoder_jsonl.py
  singer_sdk/contrib/batch_encoder_parquet.py
  singer_sdk/helpers/_batch.py
  singer_sdk/sinks/core.py
  singer_sdk/testing/factory.py
  tests/conftest.py
  tests/core/test_batch.py
  tests/samples/conftest.py
  tests/samples/test_tap_countries.py
  uv.lock
Labels: breaking change, Dependencies, BATCH

#3031 fix(targets): Avoid emitting message `"No schema for record field."` when "additionalProperties" is set to true in stream schema
  singer_sdk/sinks/core.py
Labels: Community-Contributed PR, Type/Target

#3055 fix(templates): Fixed the S3 `BATCH` extra dependency in templates
  cookiecutter/mapper-template/{{cookiecutter.mapper_id}}/pyproject.toml
  cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml
  cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml
Labels: Cookiecutter, BATCH

#3023 feat(taps): Apply `post_process` automatically to all stream types
  pyproject.toml
  singer_sdk/streams/core.py
  singer_sdk/streams/rest.py
  singer_sdk/streams/sql.py
  tests/core/conftest.py
  tests/core/test_streams.py
Labels: Type/Tap

#3056 refactor(taps,targets): Quiet down some tap and target logs from `INFO` to `DEBUG`
  samples/sample_target_csv/csv_target_sink.py
  singer_sdk/sinks/core.py
  singer_sdk/streams/core.py
  singer_sdk/target_base.py
  tests/core/snapshots/test_parent_child/test_child_deselected_parent/stderr.log
  tests/core/snapshots/test_parent_child/test_parent_context_fields_in_child/stderr.log
Labels: Type/Target, Type/Tap, Logging
